@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$primary-color: #673ee6;
$light-primary-color: #a6a6ff;
$secondary-color: #f4f5ff;
$pure-white: #fff;
$light-dark-color: #555555;
$pure-dark: #252525;

body {
    font-family: "Montserrat", sans-serif;
}

img {
    width: 100%;
}
#whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 50;
    img {
        width: 50px;
    }
}
#Navbar {
    position: fixed;
    top: 0;
    width: 100%;
    .main-bar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: $primary-color;
        color: $pure-white;
        padding: 20px 20px;
    }
    .mobile-menu {
        display: none;
        background-color: $pure-white;
        ul {
            li {
                padding: 20px 20px;
                border-bottom: 2px solid $secondary-color;
                font-weight: 400;
            }
            li.link {
                color: $light-dark-color;
            }
            li.active {
                color: $pure-dark;
                font-weight: 600;
            }
        }
    }
    .mobile-menu.active {
        display: block;
    }
}

#Home {
    .main-banner {
        background-color: $secondary-color;
        // min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .img-container {
            padding: 20px;
            img {
                border-radius: 10px;
            }
        }
        .container {
            gap: 30px;
            padding: 20px;
            h1 {
                font-weight: 900;
                font-size: 32px;
            }
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                li {
                    text-align: center;
                    display: flex;
                    gap: 10px;
                    p {
                        font-weight: 500;
                        font-size: 13px;
                    }
                    i {
                        color: $primary-color;
                        font-size: 18px;
                    }
                }
            }
            .button {
                button {
                    background-color: $primary-color;
                    color: $pure-white;
                    font-weight: 700;
                    font-size: 18px;
                    padding: 10px 20px;
                    border-radius: 5px;
                }
            }
        }
    }
}

#Footer {
    margin: 50px 0 0 0;
    background-color: $secondary-color;
    h2 {
        font-size: 20px;
        font-weight: 800;
        border-bottom: 1px solid $primary-color;
        padding: 20px;
    }
    .quick {
        padding: 20px;
        margin: 20px 0 0 0;
        h3 {
            font-size: 15px;
            font-weight: 700;
        }
        ul {
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
    .report {
        padding: 0 20px;
        h3 {
            font-size: 15px;
            font-weight: 700;
            margin: 10px 0;
        }
        p {
            font-size: 13px;
            a {
                text-decoration: underline;
                color: $primary-color;
                font-weight: 700;
            }
        }
    }
    .bottom {
        margin: 20px 0 0 0;
        border-top: 1px solid $primary-color;
        font-size: 10px;
        text-align: center;
        font-weight: 700;
        padding: 20px 0;
        a {
            color: $primary-color;
        }
    }
}

#ProductPage {
    .container {
        padding: 20px;
        img {
            border-radius: 10px;
        }
        .pricing-cards {
            display: grid;
            margin: 20px 0;
            row-gap: 20px;
            .pricing-card {
                background-color: $secondary-color;
                padding: 20px;
                h2 {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 800;
                }
                h1 {
                    font-size: 24px;
                    font-weight: 900;
                    text-align: center;
                    margin: 10px 0;
                }
                p {
                    font-size: 14px;
                    font-weight: 700;
                    span {
                        font-weight: 400;
                    }
                }
                button {
                    margin: 20px 0 0 0;
                    background-color: $primary-color;
                    color: $pure-white;
                    padding: 10px 20px;
                    border-radius: 5px;
                    width: 100%;
                }
            }
        }
    }
}
.all-platforms {
    margin: 50px 20px;
    .filters {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 20px;
        li {
            border: 2px solid $primary-color;
            color: $primary-color;
            padding: 0px 15px;
            border-radius: 20px;
            font-weight: 700;
            font-size: 12px;
        }
        li.active {
            background-color: $primary-color;
            color: $pure-white;
        }
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        .card {
            // border: 1px solid $primary-color;
            border-radius: 5px;
            background-color: $secondary-color;
            padding: 10px;
            img {
                margin: 0 auto;
                border-radius: 10px;
                width: 100%;
                padding: 5px;
            }
            .card-content {
                margin-top: 10px;
                text-align: center;

                h5 {
                    font-size: 10px;
                    color: $light-dark-color;
                    font-weight: 500;
                }
                h2 {
                    font-size: 18px;
                    font-weight: 700;
                }
                h4 {
                    font-size: 12px;
                    color: $primary-color;
                }
            }
        }
    }
}
